<a href="https://colab.research.google.com/github/Keith-Clinton/Keith-Clinton/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
import smtplib, ssl
port=465 # For SSL
smtp_server="smtp.gmail.com"
sender_email="my@gmail.com" #keithclinton00@gmail.com
receiver_email="your@gmail.com" #bokemservices@gmail.com
password=input("Enter password")
message=input("input message")

Enter passwordJulieken.
input messageBusiness is back

In [2]:
def greet():
  print("hello")
  print("goodmorning")
greet()
greet()

hello
goodmorning
hello
goodmorning

In [4]:
def add(x,y):
  c=x+y
  print(c)
  return c
result=add(5,4)

9

In [ ]:
def update(x):
  print("x",x)
update(10)
update(15)

x 10
x 15

In [ ]:
def add():
  a=10
  b=20
  c=a+b
  return c
print(add())

30

In [ ]:
class computer:
  def config(self):
    print("i5,16gb,1TB")
com1=computer()
computer.config(com1)

i5,16gb,1TB

In [ ]:
f=open("","r")
print(f)

FileNotFoundError: ignored

In [ ]:
Employee={"NAME":"john","Age":20,"salary":25000,"company":"google"}
print(type(Employee))
print("print Employee data")
print(Employee)

<class 'dict'>
print Employee data
{'NAME': 'john', 'Age': 20, 'salary': 25000, 'company': 'google'}

In [ ]:
x=2
y=3
x+y
y-x
x-y
x/y
x*y
x=x+2
x=x+2
print(x)
x+=2
x*=3
a,b=5,6
b
n=7
n
n=-n

6

In [ ]:
a,b=5,6
a<b
a>b
a==b
a<=b
a!=b

True

In [ ]:
x=int (input("Enter first number"))
y=int (input("Enter second number"))
z=x+y
print(z)

Enter first number5
Enter second number8
13

In [ ]:
ch=input("Enter a char")
print(ch[0])

Enter a charpqr
p

In [ ]:
result=eval(input("Enter an expression"))
print(result)

Enter an expression2+2-1
3

In [ ]:
x=5
y=7
z=9
print(x+y+z)

21

In [ ]:
u=int (input("Enter first number"))
v=int (input("Enter second number"))
w=int (input("Enter third number"))
z=u+v+w
print(z)

Enter first number6
Enter second number8
Enter third number9
23

In [ ]:
x=int (input("Enter first number"))
y=int (input("Enter second number"))
if(x>=y):
   print(x)
else:
   print(y)

Enter first number8
Enter second number5
8

In [ ]:
marks=int(input("Enter marks"))
if marks>70:
  print("A")
elif marks>60 and marks<70:
  print("B")
elif marks>50 and marks<60:
  print("C")
elif marks>40 and marks<50:
  print("D")
else:
  print("E")

Enter marks59
C

In [8]:
quantity = int(input("Enter quantity"))
if quantity >= 1000:
  discount = (10 * 100)
else:
  print("no discount")

Enter quantity1000

In [ ]:
list=input("Enter list")
l=1
while l<=5:
  print(list,l)
  l=l+1

Enter listkeith
keith 1
keith 2
keith 3
keith 4
keith 5

In [ ]:
x=["keith","Leon","Lewis"]
for i in x:
  print(i)

keith
Leon
Lewis

In [ ]:
x="NEVENCY"
for i in x:
  print(i)

N
E
V
E
N
C
Y

In [ ]:

for i in range (1,20,1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(1500,2701):
  if i%5==0 and i%7==0:
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [ ]:
print("#",end-"")

#

In [ ]:
c=input("Enter value in celsius")
f=input("Enter value in fahrenheit")
if c=(f-32/9)*5:
  print(f)
elif f=(9c-160)/45:
  print(c)

SyntaxError: ignored

In [ ]:
av=10
x=int(input("How many candies do you want"))
i=1
while i<=x:
  if i>av:
    break

    print("candy")
    i=i+1

How many candies do you want12

In [2]:
first_name=input("Enter first name:")
second_name=input("Enter second name:")
i=5
j=1
while i>=1:
  print(first_name,i)
  i=i+1
  break

while j<=4:
    print(second_name,j)
    j=j+1

Enter first name:Keith
Enter second name:Clinton
Keith 5
Clinton 1
Clinton 2
Clinton 3
Clinton 4

In [3]:
colour=input("Enter colour:")
if ("brown"):
  print("Lewis")
else:
  print("Leon")

Enter colour:yelow
Lewis

In [4]:
age=int(input("Enter age:"))
if age>=8:
  print("promoted")
else:
  print("Not Promoted")

Enter age:7
Not Promoted

In [5]:
a=int(input("Enter value of a:"))
b=int(input("Enter value of b:"))
c=int(input("Enter value of c:"))
if a>b and a>c:
  print("a is the greatest")
if b>c and b>a:
  print("b is the greatest")
if c>b and c>a:
  print("C is the largest")

Enter value of a:6
Enter value of b:8
Enter value of c:9
C is the largest

In [ ]:
salary_allocated=int(input("Enter salary"))
years_of_service=int(input("years_of_service"))

In [ ]:
~12

-13

In [10]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=(int(a+b))
print(c)

Enter first number:9
Enter second number:8
17

In [ ]:
a=5
b=4
a<8 and b<5
a<8 or b<5

True

a

In [11]:
nums=[25,12,34,71]
nums
nums[0]
nums[2:]
nums[-1]

71

In [ ]:
names=['Keith','Leon' ,'Lewis']
print(names)

['Keith', 'Leon', 'Lewis']

In [ ]:
values=[9.5,'Leon',25]
mil=[nums,names]
mil
nums.append (45)
nums

[25, 12, 34, 71, 45, 45]

In [ ]:
tup=(21,34,45,55,67)
tup
tup[1]
tup.count
s={ 11,23,445,6,77,76}
s.

{6, 11, 23, 76, 77, 445}

In [12]:
students_count = 1000
rating = 4.99
is_published = False
course_name = "python programming"

In [13]:
patient_name = "John Smith"
age = 20
status = "New patient"

In [14]:
c=1+3j
print(type(c))

<class 'complex'>